### QtCreator ###
*.files
*.includes
*.config
*.creator
*.user*
*.autosave

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### Rust ###
Cargo.lock
**/*.rs.bk
/target/

### NASM ###
*.obj

### User ###
build/
